<div class="mb-4 rounded shadow-sm card">
  <div
    class="card-header d-flex justify-content-between align-items-center w-100"
  >
    <p class="m-0 fw-bold">{{comment.author.first_name}} {{comment.author.last_name}}</p>
    <p class="m-0 fst-italic">, {{comment.created|timesince}} ago</p>
    <div class="ms-auto">
      <span class="p-2 text-white badge rounded-pill bg-primary">
        <p class="m-0">{{comment.author_role}}</p>
      </span>
      {% if comment.author.id == user.id %}
        <a href="" class="p-1 ms-2 link-secondary" data-toggle="tooltip" data-placement="bottom" title="Delete Comment" data-bs-toggle="modal" data-bs-target="#deleteCommentModal">
          <i class="bi bi-trash-fill"></i>
        </a>
      {% include 'comment_delete.html' with thread=thread project=project comment=comment%}
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{comment.body}}</p>

  </div>
</div>
