{% extends 'base.html' %} {% load tz %} {% block content %}
<div class="card rounded mb-4 shadow">
  <div class="card-body">
    <div class="d-flex justify-content-between">
    <h4 class="card-text">{{project.name}}</h4>
    <a class="btn btn-primary" href="{% url 'project:thread_list' project.id %}" role="button">Thread List</a>
    </div>
    <p class="card-text">{{project.description}}</p>
    <p class="card-text">
      {{project.manager.first_name}} {{project.manager.last_name}} |
      {{project.created|localtime}}
    </p>
    <p class="card-text">
      {% for tag in project.tags_as_list %}
      <a href="#" class="p-2 mr-1 badge badge-info">{{tag}}</a>
      {% endfor %}
    </p>
  </div>
</div>
{% endblock content %}
