{% extends 'base.html' %} 
{% load tz %} 
{% block content %}

<div class="card rounded mb-4 shadow">
  <div class="card-body">
    <div class="d-flex align-items-center justify-space-between">
      <h4 class="card-text flex-fill">
        {{thread.title}}
      </h4>
      {% if thread.reporter.id == user.id %}
        <a class="ms-2 p-1 link-secondary" data-toggle="tooltip" data-placement="bottom" title="Edit Project">
          <i class="bi bi-pencil-fill"></i>
        </a>
        <a class="ms-2 p-1 link-secondary" data-toggle="tooltip" data-placement="bottom" title="Delete Project">
          <i class="bi bi-trash-fill"></i>
        </a>
      {% endif %}
    </div>
    <p class="card-text">{{thread.description}}</p>
    <p class="card-text">
      {{thread.reporter.first_name}} {{thread.reporter.last_name}} | {{thread.created|localtime}}
    </p>
    <p class="card-text">
      {% if thread.closed %}
        <span class="w-15 me-2 badge rounded-pill bg-danger text-white">Closed</span>
      {% else %}
        <span class="w-15 me-2 badge rounded-pill bg-success text-white">Open</span>
      {% endif %}
      <span class="w-15 me-2 badge rounded-pill bg-info">{{thread.bug_type}}</span>
      <span class="badge rounded-pill bg-primary text-white">{{thread.bug_priority}}</span>
    </p>
  </div>
</div>

<div
  class="tab-pane fade show active"
  id="manager"
  role="tabpanel"
  aria-labelledby="manager-tab"
>
<div class="card">
    <div class="card-header">
    <h5 class="ml-1.5">
        Comments
    </h5>
    </div>
    <div class="card-body">
        {% for comment in comments%} 
        {% include 'comment_overview.html' with comment=comment%} 
        {% empty %}
            <p>Nothing to show</p>
      {% endfor %}
    </div>
</div>

</div>
{% endblock content %}

