<div class="mb-4 rounded shadow-sm card">
  <div class="card-header d-flex justify-content-between align-items-center w-100">
    <a href="{% url 'project:thread_details' projectId=thread.project.id pk=thread.id %}" class="text-decoration-none">
        <h4 class="m-0">{{thread.title}}</h4>
    </a>
    <p class="m-0 text-muted">
      by {{thread.reporter.first_name}} {{thread.reporter.last_name}},
      {{thread.created|timesince}} ago
    </p>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{thread.description}}
    </p>
    <p class="card-text">    
      {% if thread.closed %}
        <span class="w-15 me-2 badge rounded-pill bg-danger text-white">Closed</span>
      {% else %}
        <span class="w-15 me-2 badge rounded-pill bg-success text-white">Open</span>
      {% endif %}
      <span class="w-15 me-2 badge rounded-pill bg-info">{{thread.bug_type}}</span>
      <span class="badge rounded-pill bg-primary text-white">{{thread.bug_priority}}</span>
    </p>
  </div>
</div>
